.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #eaebec;
}

.sidebar .position-sticky {
    height: calc(100vh - 48px);
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 0.75rem 1rem;
}

.sidebar .nav-link.active {
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.1);
}

.sidebar .nav-link:hover {
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.05);
}

.btn-usuario {
    background-color: #17a2b8;
    color: white;
    border-color: #17a2b8;
}

.btn-usuario:hover {
    background-color: #138496;
    border-color: #117a8b;
    color: white;
}
