/* Estilos para el layout admin */

/* Sidebar: left */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* on top */
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #eaebec ;
}

/* visible on scrolling */
.sidebar .position-sticky {
    height: calc(100vh - 48px);
    overflow-y: auto;
}

/* syles for links */
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 0.75rem 1rem;
}

/* link active */
.sidebar .nav-link.active {
  color: #0d6efd; /* Color azul de Bootstrap */
    background-color: rgba(13, 110, 253, 0.1);
}

/* efect for mouse on top */
.sidebar .nav-link:hover {
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.05);
}

/* Botón Usuario - fondo celeste con letras blancas */
.btn-usuario {
    background-color: #17a2b8; /* Celeste (Bootstrap info) */
    color: white;
    border-color: #17a2b8;
}

/* Efecto hover para el botón Usuario */
.btn-usuario:hover {
    background-color: #138496; /* Celeste más oscuro al pasar el mouse */
    border-color: #117a8b;
    color: white;
}